/*スライドインアニメーション*/
.animation-slidein{
	animation-name           : slideIn;                      /*名前（@keyframesで指定）*/
	animation-duration       : 1s;                           /*開始～終了までの時間*/
	animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);/*進み方（始めと終わりゆっくりなど）*/
	animation-delay          : 0s;                           /*開始までの遅延時間*/
	animation-iteration-count: 1;                            /*再生回数*/
	animation-direction      : normal;                       /*再生方向*/
	animation-fill-mode      : forwards;                     /*アニメーション終了時に初期状態に戻らない*/
}

/*スライドインアニメーションキーフレーム*/
@keyframes slideIn{
	0% {                             /*アニメーション開始時*/
		opacity: 0;                  /*透明*/
		transform: translateX(300px);/*横移動距離*/
	}
	100% {                           /*アニメーション終了時*/
		opacity: 1;
		transform: translateX(0);
	}
}

/*ズームインアニメーション*/
.animation-zoomin{
	animation-name           : zoomIn;                       /*名前（@keyframesで指定）*/
	animation-duration       : 1s;                           /*開始～終了までの時間*/
	animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);/*進み方（始めと終わりゆっくりなど）*/
	animation-delay          : 0s;                           /*開始までの遅延時間*/
	animation-iteration-count: 1;                            /*再生回数*/
	animation-direction      : normal;                       /*再生方向*/
	animation-fill-mode      : forwards;                     /*アニメーション終了時に初期状態に戻らない*/
}

/*ズームインアニメーションキーフレーム*/
@keyframes zoomIn{
	0% {                      /*アニメーション開始時*/
		opacity: 0;           /*透明*/
		transform: scale(0.6);/*大きさ*/
	}
	100% {                    /*アニメーション終了時*/
		opacity: 1;
		transform: scale(1);
	}
}

/*bodyの背景色*/
.b-color{
	/*background: linear-gradient(to bottom right, #df89b5, #bfd9fe);*/
	background: #e0ffff;
}

/*ボタン*/
.btn-original{
	background: #008b8b;
	border: 1px;
	border-radius: 6px;
	box-shadow: 2px 2px 4px #808080;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	transition: .3s;
	width: 300px;
}

/*ボタンホバー時に透過*/
.btn-original:hover{
	opacity: 0.8;
}

/*インライン要素センター位置調整*/
.center{
	text-align: center;
}

/*footer*/
.footer{
	padding: 10px;
}

/*
header{
	position: fixed;
}
*/

/*home.html メイン枠*/
.home-main{
	color: #008b8b;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 20px;
	text-shadow: 1px 1px 2px silver;
	/*padding: 10px 20px 10px 20px;*/
}

/*ブロック要素を横並びで表示*/
.inline1, .inline2, .inline3, .inline4, .inline5{
	display: inline;
}

/*リンク*/
.link-original{
	background: #008b8b;
	border: 1px;
	border-radius: 6px;
	box-shadow: 2px 2px 4px #808080;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 30px;
	text-decoration: none;
	transition: .3s;
}

/*リンクホバー時に透過*/
.link-original:hover{
	opacity: 0.8;
}

/*ナビゲーションバー*/
.nav{
	background: #008b8b;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

/*home.html 遊び方*/
ol{
	counter-reset: number;
	list-style-type: none!important;
	padding: 10px 20px 10px 20px;
}

ol > li{
	position: relative;
	padding-left: 30px;
	line-heigt: 1.5em;
}

ol > li:before{
	/* 以下数字をつける */
  	position: absolute;
  	counter-increment: number;
  	content: counter(number);
  	/*以下数字のデザイン変える*/
  	display: inline-block;
  	background: #5c9ee7;
  	color: white;
  	font-family: 'Avenir','Arial Black','Arial',sans-serif;
  	font-weight: bold;
  	font-size: 15px;
  	border-radius: 50%;
  	left: 0;
  	width: 25px;
  	height: 25px;
  	line-height: 25px;
  	text-align: center;
  	/*以下 上下中央寄せのため*/
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
}

/*result.html 文字外観変更*/
.result-char{
	color: #008b8b;
	font-weight: bold;
	text-shadow: 1px 1px 2px silver;
}

/*result.html メインブロック*/
.result-main{
	border-bottom: 2px solid #008b8b;
	margin: 20px 40px;
}

/*sentiment.html メインブロック*/
.sentiment-main{
	margin: 50px 10px;
}

/*sentiment.html ネガティブ部門ボタン*/
.sentiment-negative{
	color: #0000ff;
	font-size: 20px;
	font-weight: bold;
}

/*sentiment.html ニュートラル部門ボタン*/
.sentiment-neutral{
	color: #008000;
	font-size: 20px;
	font-weight: bold;
}

/*sentiment.html ポジティブ部門ボタン*/
.sentiment-positive{
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
}

/*下線*/
.under{
	/*text-decoration: underline;*/
	background: linear-gradient(transparent 70%, #ffc037 70%); /*蛍光ペン*/
}