/*スライドインアニメーション*/
.animation-slidein{
	animation-name           : slideIn;                      /*名前（@keyframesで指定）*/
	animation-duration       : 1s;                           /*開始～終了までの時間*/
	animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);/*進み方（始めと終わりゆっくりなど）*/
	animation-delay          : 0s;                           /*開始までの遅延時間*/
	animation-iteration-count: 1;                            /*再生回数*/
	animation-direction      : normal;                       /*再生方向*/
	animation-fill-mode      : forwards;                     /*アニメーション終了時に初期状態に戻らない*/
}

/*スライドインアニメーションキーフレーム*/
@keyframes slideIn{
	0% {                             /*アニメーション開始時*/
		opacity: 0;                  /*透明*/
		transform: translateX(300px);/*横移動距離*/
	}
	100% {                           /*アニメーション終了時*/
		opacity: 1;
		transform: translateX(0);
	}
}

/*フェードインアニメーション*/
.animation-fadein{
	animation-name           : fadeIn;                       /*名前（@keyframesで指定）*/
	animation-duration       : 3s;                           /*開始～終了までの時間*/
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);/*進み方（始めと終わりゆっくりなど）*/
	animation-delay          : 0s;                           /*開始までの遅延時間*/
	animation-iteration-count: 1;                            /*再生回数*/
	animation-direction      : normal;                       /*再生方向*/
	animation-fill-mode      : forwards;                     /*アニメーション終了時に初期状態に戻らない*/
}

/*フェードインアニメーションキーフレーム*/
@keyframes fadeIn{
	0% {                      /*アニメーション開始時*/
		opacity: 0;           /*透明*/
		/*transform: scale(0.6);/*大きさ*/
	}
	100% {                    /*アニメーション終了時*/
		opacity: 1;
		/*transform: scale(1);*/
	}
}

/*bodyの背景色*/
.b-color{
	/*background: linear-gradient(to bottom right, #df89b5, #bfd9fe);*/
	background: #e0ffff;
}

/*ボタン*/
.btn-original{
	background: #008b8b;
	border: 1px;
	border-radius: 6px;
	box-shadow: 2px 2px 4px #808080;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	transition: .3s;
	width: 300px;
}

/*ボタンホバー時に透過*/
.btn-original:hover{
	opacity: 0.8;
}

/*インライン要素センター位置調整*/
.center{
	text-align: center;
}

/*footer*/
.footer{
	padding: 10px;
}

/*form.htmlの注釈*/
.form-text{
	color: #ff0000;
	font-weight: bold;
}

/*各ページ見出し*/
.head-title{
	background: #008b8b;
	box-sizing: border-box; /*paddingとborderを幅と高さに含める*/
	color: #ffffff;
	display: inline-block;
  	height: 60px;
  	margin: 0 auto;
  	padding: 7px 0;
  	position: relative;
  	/*text-align: center;*/
}

/*三角形*/
.head-title:after{
	border-color: transparent #e0ffff transparent transparent;
  	border-style: solid;
  	border-width: 30px 15px 30px 0px;
  	content: '';
  	height: 0px;
  	position: absolute;
  	right: 0;
  	top: 0;
  	width: 0px;
  	z-index: 1;
}

/*各ページ見出し文字*/
.head-title-text{
 	border-bottom: dashed 2px #ffffff;
 	border-top: dashed 2px #ffffff;
  	line-height: 42px;
  	padding: 0 30px 0 15px;
}

/*home.html メイン枠*/
.home-main{
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 20px;
	text-shadow: 1px 1px 2px silver;
	/*padding: 10px 20px 10px 20px;*/
}

/*home.html ネガティブ文字*/
.home-negative{
	color: #0000ff;
	font-weight: bold;
}

/*home.html ニュートラル文字*/
.home-neutral{
	color: #008000;
	font-weight: bold;
}

/*home.html ポジティブ文字*/
.home-positive{
	color: #ff0000;
	font-weight: bold;
}

/*home.html トップタイトル*/
.home-title{
	/*color: #008b8b;*/
	color: #008b8b;
	padding: 20px 0px;
	text-shadow:
	1px 1px 0px #999,
	2px 2px 0px #888;
}

/*ブロック要素を横並びで表示*/
.inline1, .inline2, .inline3, .inline4, .inline5{
	display: inline;
}

/*リンク*/
.link-original{
	background: #008b8b;
	border: 1px;
	border-radius: 6px;
	box-shadow: 2px 2px 4px #808080;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 30px;
	text-decoration: none;
	transition: .3s;
}

/*リンクホバー時に透過*/
.link-original:hover{
	opacity: 0.8;
}

/*ナビゲーションバー*/
.nav{
	background: #008b8b;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

/*home.html 遊び方*/
ol{
	counter-reset: number;
	list-style-type: none!important;
	padding: 10px 20px 10px 20px;
}

ol > li{
	position: relative;
	padding-left: 30px;
	line-heigt: 1.5em;
}

ol > li:before{
	/* 以下数字をつける */
  	position: absolute;
  	counter-increment: number;
  	content: counter(number);
  	/*以下数字のデザイン変える*/
  	display: inline-block;
  	background: #008b8b;
  	color: white;
  	font-family: 'Avenir','Arial Black','Arial',sans-serif;
  	font-weight: bold;
  	font-size: 15px;
  	border-radius: 50%;
  	left: 0;
  	width: 25px;
  	height: 25px;
  	line-height: 25px;
  	text-align: center;
  	/*以下 上下中央寄せのため*/
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
}

/*result.html 文字外観変更*/
.result-char{
	color: #008b8b;
	font-weight: bold;
	text-shadow: 1px 1px 2px silver;
}

/*result.html メインブロック*/
.result-main{
	border-bottom: 2px solid #008b8b;
	margin: 20px 40px;
}

/*sentiment.html メインブロック*/
.sentiment-main{
	margin: 50px 10px;
}

/*sentiment.html ネガティブ部門ボタン*/
.sentiment-negative{
	color: #0000ff;
	font-size: 20px;
	font-weight: bold;
}

/*sentiment.html ニュートラル部門ボタン*/
.sentiment-neutral{
	color: #008000;
	font-size: 20px;
	font-weight: bold;
}

/*sentiment.html ポジティブ部門ボタン*/
.sentiment-positive{
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
}

/*下線*/
.under{
	/*text-decoration: underline;*/
	background: linear-gradient(transparent 70%, #ffc037 70%); /*蛍光ペン*/
}

/* **********以下プログレスバー********** */
.Group {                            /*一番外のブロック*/
	display        : flex;          /*要素横並び*/
	justify-content: space-between; /*等間隔に配置*/
	margin         : 0 auto;        /*ブロック要素中央寄せ*/
	margin-bottom  : 20px;
	margin-top     : 20px;
	max-width      : 600px;         /*これより大きな幅にはならない*/
	position       : relative;      /*子要素をabsoluteにするので*/
	width          : 100%;          /*横幅マックス（ただしmax-width以下）*/
	z-index        : 0;             /*要素の重なりの順番*/
}

.Group-Bar {                    /*バー*/
	background-color: #808080;  /*バーの色*/
	height          : 2px;      /*横幅768px以上の場合は次のセレクタで指定*/
	left            : 5%;       /*親要素に対する位置*/
	position        : absolute; /*親要素に対してポジションを絶対位置で指定*/
	top             : 12px;     /*横幅768px以上の場合は次のセレクタで指定*/
	width           : 90%;
	z-index         : -1;
}

@media screen and (min-width: 768px) { /*横幅768px以上の画面で見た場合*/
	.Group-Bar {
		top: 17px;
		height: 5px;
	}
}

.Shapeborder.isActive { /*アクティブなプログレスの境界線*/
	border: 2px solid #ff0000;
}

.Circle {
	border-radius: 50%;
}

.Group-Item {                /*文字*/
	color         : #808080;
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.Group-Item.isActive { /*文字（アクティブ）*/
	color: #ff0000;
}

.Group-Item-CircleOuter {  /*プログレスの大きい円*/
	width          : 26px; /*横幅768px以上の場合は次のセレクタで指定*/
	height         : 26px; /*横幅768px以上の場合は次のセレクタで指定*/
	display        : flex;
	justify-content: center;
	align-items    : center;
}

@media screen and (min-width: 768px) { /*横幅768px以上の画面で見た場合*/
	.Group-Item-CircleOuter {
		width: 39px;
		height: 39px;
	}
}

.Group-Item-CircleOuter.isActive { /*大きい円（アクティブ）*/
	background: #ffffff;           /*白*/
}

.Group-Item-CircleInner {      /*プログレスの小さい円*/
	width           : 16px;    /*横幅768px以上の場合は次のセレクタで指定*/
	height          : 16px;    /*横幅768px以上の場合は次のセレクタで指定*/
	background-color: #a9a9a9;
	display         : flex;
	align-items     : center;
}

@media screen and (min-width: 768px) { /*横幅768px以上の画面で見た場合*/
	.Group-Item-CircleInner {
		width: 25px;
		height: 25px;
	}
}

.Group-Item-CircleInner.isActive { /*プログレスの小さい円（アクティブ）*/
	background: #ff0000;
}

.Group-Item-CircleInner:last-of-type::after { /*プログレスの小さい円の最終アイテムの後ろ*/
	content: none;                            /*何も表示しない*/
}

.Group-Item-Text {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 600;
}