/*bodyの背景色*/
.b-color{
	background: linear-gradient(to bottom right, #df89b5, #bfd9fe);
}

/*自作ボタン*/
.btn-original{
	background: #008b8b;
	border-bottom: solid 4px #a9a9a9;
	border-radius: 6px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 30px;
	text-decoration: none;
}

/*インライン要素センター位置調整*/
.center{
	text-align: center;
}

/*footer*/
.footer{
	padding: 10px;
}

/*
header{
	position: fixed;
}
*/

/*home.html メイン枠*/
.home-main{
	color: #008b8b;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 20px;
	text-shadow: 1px 1px 2px silver;
	/*padding: 10px 20px 10px 20px;*/
}

/*ブロック要素を横並びで表示*/
.inline1, .inline2, .inline3, .inline4, .inline5{
	display: inline;
}

/*ナビゲーションバー*/
.nav{
	background: #008b8b;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

/*home.html 遊び方*/
ol{
	counter-reset: number;
	list-style-type: none!important;
	padding: 10px 20px 10px 20px;
}

ol > li{
	position: relative;
	padding-left: 30px;
	line-heigt: 1.5em;
}

ol > li:before{
	/* 以下数字をつける */
  	position: absolute;
  	counter-increment: number;
  	content: counter(number);
  	/*以下数字のデザイン変える*/
  	display: inline-block;
  	background: #5c9ee7;
  	color: white;
  	font-family: 'Avenir','Arial Black','Arial',sans-serif;
  	font-weight: bold;
  	font-size: 15px;
  	border-radius: 50%;
  	left: 0;
  	width: 25px;
  	height: 25px;
  	line-height: 25px;
  	text-align: center;
  	/*以下 上下中央寄せのため*/
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.result-char{
	color: #008b8b;
	font-weight: bold;
	text-shadow: 1px 1px 2px silver;
}

.result-main{
	border-bottom: 2px solid #008b8b;
	margin: 20px 40px;
}

.score{
	background: #f0f8ff;
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
}

/*下線*/
.under{
	/*text-decoration: underline;*/
	background: linear-gradient(transparent 70%, #ffc037 70%); /*蛍光ペン*/
}