<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
		<title>PlayApp | Chart</title>
   		<meta charset="UTF-8">
  	</head>
  	<body>
  		<!--<p th:text="${num}"></p>-->
     	<canvas id="sentimentScoreChart" width="200" height="100" aria-label="PlayApp" role="img"></canvas>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
   		<script type="text/javascript" th:inline="javascript">
   			const ctx = document.getElementById("sentimentScoreChart");
   			const barChart = new Chart(ctx, {
   				type: "bar",
   				data: {
   					labels: [[${inputArray}]],
   					datasets: [{
   						label: "test",
   						data: [[${scoreArray}]],
   						backgroundColor: "rgba(219,39,91,0.5)"
   					}]
   				},
   				options: {
   					title: {
   						display: true,
   						text: "test-title"
   					},
   					responsive: true,
   					//maintainAspectRatio: false,
   					indexAxis: "y",
   					layout: {
   						padding: 20
   					}
   				}
   			});
   		</script>
   		<a type="button" th:href="@{/play/form}">投稿する</a>
  	</body>
</html>