<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
		<title>PlayApp | Chart</title>
   		<meta charset="UTF-8">
  	</head>
  	<body>
   		<canvas id="sentimentScoreChart" width="400" height="400" aria-label="Hello" role="img"></canvas>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
   		<script type="text/javascript" th:inline="javascript">
   			const ctx = document.getElementById("sentimentScoreChart");
   			const barChart = new Chart(ctx, {
   				type: "bar",
   				data: {
   					labels: [[${label}]],
   					datasets: [{
   						label: "test",
   						data: [[${score}]],
   						backgroundColor: "rgba(219,39,91,0.5)"
   					}]
   				},
   				options: {
   					title: {
   						display: true,
   						text: "test-title"
   					}
   				}
   			});
   		</script>
   		<a type="button" th:href="@{/form}">投稿する</a>
  	</body>
</html>