<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
 		<!-- ----------デザイン設定---------- -->
 		<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
 		<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.min.css}">
 		<link rel="stylesheet" th:href="@{/css/design.css}">
   		<title>PlayApp | Form</title>
   		<!-- ----------スマホサイズに調整---------- -->
   		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
 	</head>
 	<body>
 	<!-- ----------ナビゲーションバー---------- -->
 	<!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 		<div class="col text-center">
 			<a class="navbar-brand" th:href="@{/play}">ネガポジAIチェック</a>
 		</div>
 	</nav>-->
 	<header>
 		<a class="nav" th:href="@{/play}">感情分析アプリ</a>
 	</header>
	<div class="b-color"><!-- 背景色 -->
		<br>
	 	<!-- ----------見出し---------- -->
	 	<div class="center">
	 		<div class="head-title">
	 			<h2 th:text="${title}" class="head-title-text">サンプル</h2>
	 		</div>
	 	</div>
	 	<!--  <div class="d-flex justify-content-around m-5"><!-- アイコンを等間隔で配置
	 		<i class="fa-solid fa-door-open fa-4x" style="color:black;"></i>
	 		<i class="fa-solid fa-user-gear fa-4x" style="color:black;"></i>
	 		<i class="fa-solid fa-chart-simple fa-4x" style="color:black;"></i>
	 	</div>-->
		<!-- ----------プログレスバー---------- -->
		<div class="Group">
  			<div class="Group-Bar"></div>
   			<div class="Group-Item">
  				<div class="Group-Item-CircleOuter Circle Shapeborder">
  					<div class="Group-Item-CircleInner Circle Shapeborder"></div>
  				</div>
 				<p class="Group-Item-Text">STEP1</p>
 			</div>
 			<div class="Group-Item isActive">
  				<div class="Group-Item-CircleOuter Circle Shapeborder isActive">
  					<div class="Group-Item-CircleInner Circle Shapeborder isActive"></div>
  				</div>
  				<p class="Group-Item-Text">STEP2</p>
			</div>
 			<div class="Group-Item">
  				<div class="Group-Item-CircleOuter Circle Shapeborder">
 					<div class="Group-Item-CircleInner Circle Shapeborder"></div>
 				</div>
  				<p class="Group-Item-Text">FINISH</p>
			</div>
		</div>
	  	<!-- ----------フォーム---------- -->
	  	<form method="POST" th:action="@{/play/judge}" th:object="${playForm}">
	  		<!-- ----------お題選択欄---------- -->
	  		<div class="form-group mx-5">
				<label>お題を選択しよう</label>
	  			<select name="yourChallengeId" class="form-control">
	  				<option value="">選択してください</option>
	  				<option th:each="challenges : ${challengesList}"
	  						th:value="${challenges.challengeId}"
	  						th:text="${challenges.challenge}">
	  				</option>
	  			</select>
	  		</div>
	  		<br>
	  		<!-- ----------回答入力欄---------- -->
	  		<div class="form-group mx-5">
	  			<label for="input-id">お題に続く文章を作成しよう</label>
	  			<p>注1）<span class="form-text">15文字以上50文字以内</span>で入力してください。</p>
	  			<p>注2）できる限り<span class="form-text">日本語で入力してください</span>。日本語以外が混じると正常に分析できない可能性があります。</p>
	  			<textarea name="input" class="form-control" id="input-id" rows="4" cols="30" placeholder="ここに文章を入力" minlength="15" maxlength="50" required></textarea>
	  		</div>
	  		<br>
	  		<!-- ----------投稿ボタン---------- -->
	  		<div class="center">
	   			<button class="btn-original" type="submit">ネガポジ判定する</button>
			</div>
	  		<br>
	  	</form>
	<!-- ----------フッター---------- -->
	<footer class="footer" style="text-align: center">
   		<p>&copy; 2022. Sentiment-app.com</p>
   	</footer>
  	</div>
  	 <!-- ----------デザイン設定---------- -->
	<script th:href="@{/webjars/jquery/3.3.1/js/jquery.min.js}"></script>
	<script th:href="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
 	</body>
</html>